{
	"HTTP":               ":8080",
	"SourcesKeysPath":    "keys",
	"TicketKeysPath":     "keys",
	"SampleStorageURI":   "http://localhost:8016/samples/",
	"AllowedTasks":       {"sign": ["*"], "org2": ["PEINFO"]},
	"RabbitURI":          "localhost:5672/",
	"RabbitUser":         "guest",
	"RabbitPassword":     "guest",
	"RabbitDefault":      {"Queue": "totem_input", "Exchange": "totem", "RoutingKey": "work.static.totem"},
	"Rabbit":             {"PEINFO" : {"Queue": "totem_input_peinfo", "Exchange": "totem_peinfo", "RoutingKey": "work.static.totem"}}
}
