{
	"HTTP":              ":8090",
	"SourcesKeysPath":   "keys",
	"TicketSignKeyPath": "keys/sign.priv",
	"Organizations":     [{"Name": "Org1", "Uri": "http://localhost:8080/task/", "Sources": ["foo","bar"]},
	                      {"Name": "Org2", "Uri": "http://localhost:8081/task/", "Sources": ["blub"]}],
	"OwnOrganization":   "Org1",
	"StorageURI":        "http://10.0.4.79:8016/samples/",
	"AutoTasks":         {"PEINFO":[""],"YARA":[""]},
	"CertificateKeyPath":"cert-key.pem",
	"CertificatePath":   "cert.pem"
}
