{
	"HTTP":             ":8080",
	"SourcesKeysPath":  "keys",
	"TicketKeysPath":   "keys",
	"SampleStorageURI": "http://localhost:8016/samples/",
	"RabbitURI":        "localhost:5672/",
	"RabbitUser":       "guest",
	"RabbitPassword":   "guest",
	"RabbitQueue":      "totem_input",
	"RoutingKey":       "work.static.totem",
	"Exchange":         "totem",
	"RabbitQueueLong":  "totem_input_long",
	"RoutingKeyLong":   "work.static.totemlong",
	"ExchangeLong":     "totemlong"
}
