{
	"HTTP":               ":8080",
	"SourcesKeysPath":    "config/keys/sources/",
	"TicketKeysPath":     "config/keys/tickets/",
	"SampleStorageURI":   "http://localhost:8016/api/v2/raw_data/",
	"AllowedTasks":       {"org1": ["*"], "org2": ["PEINFO"]},
	"RabbitURI":          "localhost:5672/",
	"RabbitUser":         "guest",
	"RabbitPassword":     "guest",
	"RabbitDefault":      {"Queue": "totem_input", "Exchange": "totem", "RoutingKey": "work.static.totem"},
	"Rabbit":             {"CUCKOO":     {"Queue": "totem_dynamic_input", "Exchange": "totem_dynamic", "RoutingKey": "work.static.totem"},
                           "DRAKVUF":    {"Queue": "totem_dynamic_input", "Exchange": "totem_dynamic", "RoutingKey": "work.static.totem"},
                           "VIRUSTOTAL": {"Queue": "totem_dynamic_input", "Exchange": "totem_dynamic", "RoutingKey": "work.static.totem"}}
}
