{
	"HTTP":               ":8080",
	"SourcesKeysPath":    "keys",
	"TicketKeysPath":     "keys",
	"SampleStorageURI":   "http://localhost:8016/samples/",
	"RabbitURI":          "localhost:5672/",
	"RabbitUser":         "guest",
	"RabbitPassword":     "guest",
	"RabbitDefault":      {"Queue": "totem_input", "Exchange": "totem", "RoutingKey": "work.static.totem"},
	"Rabbit":             {"CUCKOO":     {"Queue": "totem_dynamic_input", "Exchange": "totem_dynamic", "RoutingKey": "work.static.totem"},
                           "DRAKVUF":    {"Queue": "totem_dynamic_input", "Exchange": "totem_dynamic", "RoutingKey": "work.static.totem"},
                           "VIRUSTOTAL": {"Queue": "totem_dynamic_input", "Exchange": "totem_dynamic", "RoutingKey": "work.static.totem"}}
}
